.nap{
    color: red;
    font-style: italic;
}
.cim{
    height: 13px;
}
#kicsi{
    size: 30%;
}
#pic{
    border: 2px;
}
.grid-container{
    display: grid;
    grid-template-columns: 12px 12px 12px;
    border-color: black; 
    gap: 6px; 
    justify-content: center;
}
.grid-item{
    justify-self: right;
}
